
body {
		background-color: #BE9B7B;
		}

.header{
		text-align:center;
		padding: 3px;
		border: 2px solid #000;
		font-family: Times New Roman;
		height:100px;
  margin: 50px;
     	}
.navi{
	  overflow: hidden;
	   width: 100%;
	   	border: 2px solid #000;
		height:50px;
		text-align: center;
		word-spacing: 3px;
	 }

.navi a{
		float: left;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
		
		}
.body1{
		
		height: 450px;
		border: 2px solid #000;
		font-family: "times new roman";
		}

.maincontent{
	    height: 450px;
		float:right;
		width:550px;
		}
.content{
		float: center;
		width:990PX;
		margin-left:50px;
	
		}
.sidebar{
		height: 450px;
		float:left;
		border:1px solid #000;
		}
.main{
		float:right;
		width:1200px;
		}
.body2{
		
		padding: 2px;
		border: 2px solid #000;
		font-family: arial;
		height:600px;
		}
.left{
		float:left;
		margin:20px;
		width:42%;
		text-align:center;
		}
.right{
		margin:20px;
		float: right;
		width:42%;
		
		text-align:center;
	  }

.footer{

			text-align:center;
		padding: 3px;
		border: 2px solid #000;
		font-family: Times New Roman;
		height:100px;
  margin: 50px;
		}

.clear{
		clear:both;
		}
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body {
    font-family: 'Lato', sans-serif;
    color: #FFF;
    -webkit-font-smoothing: antialiased;
}
a {
    text-decoration: none;
    color: #fff;
}
p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:  1% 0 1% 0;
}
._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
}
ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-github:hover {
    background-color: #5a32a3;
}
